.postcard {
	background: white;
	width: 500px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
}
.postcard-header h1 {
	width: 400px;
	margin: 20px;
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-body {
	display: flex;
}
.body-left p:first-child {
	margin-top: 20px;
}
.body-left,
.body-right {
	padding: 20px;
}
.postcard-footer {
	text-align: center;
}
button {
	padding: 50px;
	background: rgba(197, 62, 126, 0.33);
	color: #fff;
	position: relative;
	left: 9px;
	top: 25px;
	width: auto;
	cursor: pointer;
}
input {
	border: 10px;
	border-bottom: 20px;
	font-size: medium;
	font-family: "Courier New", Courier, monospace;
	outline: none;
	display: inline-block;
	height: 34px;
	vertical-align: middle;
	position: relative;
	bottom: 14px;
	right: 9px;
	border-radius: 22px;
	width: 220px;
	box-sizing: border-box;
	padding: 0 18px;
}
body {
	background: black;
}
p {
	font-family: "Courier New", Courier, monospace;
	font-size: small;
	color: black;
	font-weight: bold;
}
/*  * {
	border: 1px dashed red;
	min-height: 10px;
}*/
